.anaconda/*
.DS_Store
.CFUserTextEncoding
.bash_history
.bash_sessions/*
.bundle/*
.cache/*
.cargo/*
.condarc
.cryptoplugin/*
.cups/*
.eclipse/*
.emacs.d/*
.gem/*
.gradle/*
.inputrc
.ipython/*
.jenv/*
.local/*
.node_repl_history
.npm/*
.nvm/*
.p2/*
.vim*
.viminfo
.pylint.d/*
.python_history
.rustup/*
.ssh/*
.tooling/*
.vscode/*
.wget-hsts
.zsh_history
*.png
/Documents/*
/Desktop/*
/Library/*
/Pictures/*
/Projects/*
/Public/*
/Downloads/*
/Applications/*
/Music/*
/Movies/*
/Music/*
/OneDrive - Playtika Ltd/*
/Exercism/*
/eclipse-jsworkspace/*
/eclipse-workspace/*
/eclipse/*
get-pip.py
/nvim-osx64/*
/opt/*
